body{
    background-color: rgb(182, 225, 65);
}

#gridcontainer{
    display: grid;
    grid-template-areas: 
    

    'header header header header header'
    'menu main main right right'
    'menu footer footer footer footer '  ;
    

}

div{
    border: 2px solid black;
}


#item1{
    grid-area: header;
    height: 50px;
    width: 1110px;
    padding: 20px;
    margin: 20px;
    color: black;
    background-color: white;
    

}

#item2{
    grid-area: menu;
    height: 480px;
    width: 400px;
    padding: 20px;
    margin: 20px;
    color: blue;
    background-color: chocolate;
    animation-name : blink ;
    animation-duration: 1s;
    animation-iteration-count: 2;

}

#item3{
    grid-area: main;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    color: blue;
    background-color: gold;
    animation-name : blink ;
    animation-duration: 1s;
    animation-iteration-count: 3;

    
}


#item4{
    grid-area: right;
    height: 200px;
    width: 300px;
    padding: 20px;
    margin: 20px;
    color: blue;
    background-color: rebeccapurple;
    animation-name : blink ;
    animation-duration: 1s;
    animation-iteration-count: 4;

    
}


#item5{
    grid-area: footer;
    height: 200px;
    width: 650px;
    padding: 20px;
    margin: 20px;
    color: blue;
    background-color: bisque;
    animation-name : blink ;
    animation-duration: 1s;
    animation-iteration-count: 5;

    
}


 /* הדגמה לסלקטור קומבינציה */
div div{
    height: 100px;
    width: 200px;
    padding: 20px;
    margin: 20px;
    color: violet;
    background-color: darkgreen;

}   



@media only screen and (max-width: 1000px){

    body{
        background-color: white;
    }
    
    }


@keyframes blink {
        from {background-color: magenta;}
        to {background-color: white;}
    }
